
@model UpdateBookStockDTO
<h1>Update Book Stock</h1>
<hr />
@* <div>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.BookID)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Author)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Genre)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.BookDescription)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.PublicationYear)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsInStock)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.IsInStock)
        </dd>
            </dl>

</div> *@

<form asp-action="UpdateBookStock">
    <!-- BookID field (hidden) -->
    <input type="hidden" asp-for="BookID" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Display Title (non-editable) -->
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" readonly />
    </div>

    <!-- Display Author (non-editable) -->
    <div class="form-group">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control" readonly />
    </div>

    <!-- Display Genre (non-editable) -->
    <div class="form-group">
        <label asp-for="Genre" class="control-label"></label>
        <input asp-for="Genre" class="form-control" readonly />
    </div>

    <!-- Display Book Description (non-editable) -->
    <div class="form-group">
        <label asp-for="BookDescription" class="control-label"></label>
        <textarea asp-for="BookDescription" class="form-control" readonly></textarea>
    </div>

    <!-- Display Publication Year (non-editable) -->
    <div class="form-group">
        <label asp-for="PublicationYear" class="control-label"></label>
        <input asp-for="PublicationYear" class="form-control" readonly />
    </div>

    <!-- Stock Status (editable) -->
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsInStock" />
            @Html.DisplayNameFor(model => model.IsInStock)
        </label>
    </div>

    <!-- Submit Button -->
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="LibraryIndex">Back to View all Books</a>
</div>